<div id="<%= dom_id person %>">
  <p>
    <strong>Name:</strong>
    <%= person.name %>
  </p>

  <p>
    <strong>Doc number:</strong>
    <%= person.doc_number %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= person.phone %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= person.address %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= person.email %>
  </p>

  <p>
    <strong>Workplace:</strong>
    <%= person.workplace %>
  </p>

  <p>
    <strong>Beneficiary:</strong>
    <%= person.beneficiary %>
  </p>

</div>
