<div id="<%= dom_id loan %>">
  <p>
    <strong>Id item:</strong>
    <%= loan.id_item %>
  </p>

  <p>
    <strong>Id people:</strong>
    <%= loan.id_people %>
  </p>

  <p>
    <strong>Lending date:</strong>
    <%= loan.lending_date %>
  </p>

  <p>
    <strong>Return date:</strong>
    <%= loan.return_date %>
  </p>

  <p>
    <strong>Reservation date:</strong>
    <%= loan.reservation_date %>
  </p>

</div>
