<%= form_with(model: item) do |form| %>
  <% if item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
        <% item.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group mb-3">
    <%= form.label :description, class: "form-label" %>
    <%= form.text_field :description, class:"form-control" %>
  </div>

  <div class="form-group mb-3">
    <%= form.label :id_type_item, class: "form-label" %>
    <%= form.number_field :id_type_item, class:"form-control" %>
  </div>

  <div class="form-group mb-3">
    <%= form.label :availability, class: "form-check-label" %>
    <%= form.check_box :availability, class:"form-check-input" %>
  </div>

  <div class="form-group mb-3">
    <%= form.label :item_condition, class: "form-label" %>
    <%= form.text_field :item_condition, class:"form-control" %>
  </div>

  <div class="form-group mb-3">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>