<div id="<%= dom_id item %>">
  <p>
    <strong>Description:</strong>
    <%= item.description %>
  </p>

  <p>
    <strong>Id type item:</strong>
    <%= item.id_type_item %>
  </p>

  <p>
    <strong>Availability:</strong>
    <%= item.availability %>
  </p>

  <p>
    <strong>Item condition:</strong>
    <%= item.item_condition %>
  </p>

</div>
